.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.layout {
  &.horizontal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 2rem;

    @media (min-width: 760px) {
      & {
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &.vertical {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}
